<footer class="box-footer">

<div class="footer-container">
  <img src="imgs/Banner-MMAstyle-1.png" class="banner">
  <div class="h3-footer-desktop">
    <h3><a href="">Inicio</a></h3>
    <h3><a href="">Tienda</a></h3>
    <h3><a href="">Contacto</a></h3>
    <h3><a href="">Preguntas Frecuentes</a></h3>
  </div>
</div>
<div class="social-medias">
  <i class="fab fa-twitter"></i>
  <i class="fab fa-facebook"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-youtube"></i>
  <i class="fab fa-whatsapp"></i>
</div>

</footer>
</body>

</html>



