<main>

    <h2 class="title-news">Productos Destacados</h2>

    <div class="product-container">
      <div class="product-article">
        <i class="fas fa-chevron-circle-left"></i>
        <img class="img-products" src="/imgs/hoodie-naranja.jpg" alt="hoodie-naranja">
        <i class="fas fa-chevron-circle-right"></i>
      </div>

      <ul>
        <li class="product-name">Hoodie "Hope of the World"</li>

        <li class="product-price">$6000</li>
      </ul>

    </div>


    <h2 class="title-news">Nuevos lanzamientos</h2>

    <div class="product-container">
      <div class="product-article">
        <i class="fas fa-chevron-circle-left"></i>
        <img class="img-products" src="/imgs/hoodie-negro-smile.jpeg" alt="hoodie-negro-smile">
        <i class="fas fa-chevron-circle-right"></i>
      </div>

      <ul>
        <li class="product-name">Hoodie "Smile" </li>
        <li class="product-price">$6200</li>
      </ul>
    </div>

  </main>