<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-login.css">
    <title>Iniciar Sesion</title>
</head>
<body>
    <header>
        <img class="imagen" src="images/logo.jpg">
    </header>
    <section class="sesion">
        <h3 class="titulo">INICIAR SESIÓN</h3>
        <p>email</p>
        <input class="carga" type="text" name="Correo" value="" placeholder="">
        <p>contraseña</p>
        <input class="carga" type="password" name="Contraseña" value=""  placeholder="">
        <p class="texto"><a href="">¿Olvidaste tu contraseña?</a></p>
        <input class="boton" type="submit" name=""    value="Ingresar">
        <p class="texto">¿No tenes cuenta?<a href="">registrate</a></p>
        <p><i class="fab fa-facebook-square"></i><i class="fab fa-google"></i></p>
    </section>
</body>
</html>