<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MMA Style</title>
  <link rel="stylesheet" href="/css/index-styles.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="main-header">
    <h2 class="title-header">Envío gratis a todo el país en compras mayores a $7000</h2>
    <div class="header-container">
      <div class="burger-and-search">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>


      </div>

      <nav class="nav-bar">
        <ul class="ul-bar">
          <li>Inicio</li>
          <li>Tienda</li>
          <li>Contacto</li>
          <li>Preguntas Frecuentes</li>
        </ul>
      </nav>

      <div class="logo-conteiner">
        <img class="logo" src="/imgs/MMA-logo.png" alt="logo">
      </div>

      <div class="carrito-login">
        <div class="shopping-cart">
          <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="user-circle">
          <i class="far fa-user-circle"></i>
        </div>
        <a class="link-login" href="/login">Iniciar sesión</a>
      </div>

    </div>
  </header>

  <main>

    <h2 class="title-news">Productos Destacados</h2>

    <div class="product-container">
      <div class="product-article">
        <i class="fas fa-chevron-circle-left"></i>
        <img class="img-products" src="/imgs/hoodie-naranja.jpg" alt="hoodie-naranja">
        <i class="fas fa-chevron-circle-right"></i>
      </div>

      <ul>
        <li class="product-name">Hoodie "Hope of the World"</li>

        <li class="product-price">$6000</li>
      </ul>

    </div>


    <h2 class="title-news">Nuevos lanzamientos</h2>

    <div class="product-container">
      <div class="product-article">
        <i class="fas fa-chevron-circle-left"></i>
        <img class="img-products" src="/imgs/hoodie-negro-smile.jpeg" alt="hoodie-negro-smile">
        <i class="fas fa-chevron-circle-right"></i>
      </div>

      <ul>
        <li class="product-name">Hoodie "Smile" </li>
        <li class="product-price">$6200</li>
      </ul>
    </div>

  </main>

  <footer class="box-footer">

    <div class="footer-container">
      <img src="imgs/Banner-MMAstyle-1.png" class="banner">
      <div class="h3-footer-desktop">
        <h3><a href="">Inicio</a></h3>
        <h3><a href="">Tienda</a></h3>
        <h3><a href="">Contacto</a></h3>
        <h3><a href="">Preguntas Frecuentes</a></h3>
      </div>
    </div>
    <div class="social-medias">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-whatsapp"></i>
    </div>

  </footer>
</body>

</html>