<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MMA - Inicio de sesión</title>
  <link rel="stylesheet" href="/css/styles-register.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="main-header">
    <h2 class="title-header">Envío gratis a todo el país en compras mayores a $7000</h2>
    <div class="header-container">
      <div class="burger-and-search">
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </div>

    <nav class="nav-bar">
      <ul class="ul-bar">
        <li>Inicio</li>
        <li>Tienda</li>
        <li>Contacto</li>
        <li>Preguntas Frecuentes</li>
      </ul>
    </nav>

    <img class="logo" src="/imgs/MMA-logo.png" alt="logo MMA">

    <div class="carrito-login">
      <div class="shopping-cart">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <div class="user-circle">
        <i class="far fa-user-circle"></i>
      </div>
      <a class="link-login" href="/login">Iniciar sesión</a>
    </div>

    </div>
  </header>

  <main class="main-form">
    <h1>Registrate</h1>
    <section>

      <form action="" method="GET" class="create-form" form="register-form">
        <h2>Datos sobre tu cuenta</h2>
        <div class="controlador">
          <label>* Nombre y Apellido</label>
          <input type="text" name="username" class="control">
        </div>
        <div class="controlador">
          <label>* e-mail</label>
          <input type="text" name="email" class="control">
        </div>
        <div class="controlador">
          <label>* Telefono</label>
          <input type="text" name="telefono" class="control">
          <div class="controlador">
            <label>* Contraseña</label>
            <input type="password" name="password" class="control">
          </div>
          <div class="controlador">
            <label>* Confirmar contraseña</label>
            <input type="password" name="password" class="control">
          </div>
      </form>



      <form action="" class="boton" id="register-form">
        <button type="submit" class="boton-formulario">Registrarse</button>
      </form>
    </section>
  </main>

  <footer class="box-footer">

    <div class="footer-container">
      <div class="h3-footer-desktop">
        <h3><a href="">Inicio</a></h3>
        <h3><a href="">Tienda</a></h3>
        <h3><a href="">Preguntas Frecuentes</a></h3>
        <h3><a href="">Contacto</a></h3>
      </div>
    </div>

    <div class="social-medias">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
  </footer>
</body>

</html>