@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    background-color: black;
}

body {
    font-family: "Roboto";
}

/* header */

.main-header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.title-header {
    font-size: 13px;
    text-align: center;
    display: none;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.burger-and-search {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
}

.burger-menu {
    margin: 0px 10px;
}

.nav-bar {
    display: none;
}

ul {
    list-style-type: none;
}

.ul-bar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color:  white ;
}

.logo {
    width: 50%;
}

.carrito-login {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px;
    color: white;
}

.shopping-cart {
    margin-right: 10px;
    color: white;
}

.link-login {
    display: none;
}

/* main del register*/

.main-form {
    padding: 0px 5px 50px 5px;
}

.main-navbar {
    display: none
}

.main-navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

.create-form {
    padding: 20px 15px;
}

.controlador {
    margin-bottom: 15px;
}

.controlador label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
    color: white;
    border-radius: 10px;
}

.main-form h1 {
    text-align: center;
    color: #808790;
    font-size: 25px;
    margin: 10px
}

.create-form h2 {
    color: #808790;
}

.create-form p {
    text-align: right;
}


.boton-formulario {
    background-color: rgb(166, 18, 236);
    border: none;
    font-size: 25px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin: center
}

.boton {
    align-self: flex-end;
    padding: 0px 15px;
}



/* footer */

 .h3-footer-desktop { 
    display: none}

.box-footer {
    padding: 20px;
}

.title-suscription{
    display: none;
    font-size: 16px;
    color: white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.h3-footer {
    text-align: center;
    font-size: 13px;
}

.h3-footer a {
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.social-medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    color: white;
    padding-left: 650px;
}

/*Mobile*/

@media (max-width:479px) {

    .logo {
        display: none;
    }
    
    }
    
    /*Ipad*/
    
@media (min-width:480px) {
    
    .iso {
    display: none;
        }
        
    }

@media (min-width:768px) {
    /* header */
    .title-header {
        display: block;
    }

    .logo {
        width: 200px;
    }

    .burger-menu {
        display: none;
    }

    .nav-bar {
        display: block;
        margin-left: -45px;
    }

    .ul-bar li {
        margin: 0px 10px;
    }

    .link-login {
        display: block;
    }

    .user-circle {
        margin-left: 20px;
        margin-right: 10px;
    }

    .logo {
        order: -1;
    }

    /* main */ 

    @media (min-width: 768px){

        .main-form section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 95%;
            max-width: 900px;
            margin: auto;
            border: solid 1px #808790;
            border-radius: 20px;
            padding: 15px
    
        }
    
        .create-form {
            max-width: 700px;
            flex-direction: row;
            width: 50%
        }
    
        .boton {
            align-self: flex-end;
            padding: 50px
        }
    
    }
    
    /* footer */
    
    .email {
        width: 300px;
    }

    .buttom-footer {
        width: 150px;
    }

    .email-and-buttom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width:1200px) {
    /* header */

    .search-bar {
        display: block;
    }

    .features-search {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .features-search i {
        margin-left: 5px;
    }

    /* footer */
    

    .title-suscription {
        display:block;
        align-self: flex-end
    }

    .box-footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-height: 250px;
    }

    .h3-footer-desktop {
        display: flex;
        flex-wrap: wrap;
        order: -1;
        text-align: center;
        font-size: 13px;
        justify-content: space-around;        
    }

    .h3-footer-desktop a {

        color: rgb(230, 230, 230);
        text-decoration: none;
    }

    .logotipo {
        display: block;
        width: 200px;
        order: -1
    }

    .logo-footer {
        display: none
    }

    .email {
        max-width: 60%;
    }

    .buttom-footer {
        max-width: 30%;
    }

    .footer-container {
        order: -1;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 600px
    }

    .email-and-buttom {
        display: flex; 
        justify-content: center;
        height: 110px;
    }

    .box-footer form {
        max-width: 350px;
    }
    
}